* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  min-height: 100vh;
  min-width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --app-height: 100%;
  --white: #fff;
  --black: #000;
  --green: #4CBE57;
  --blue: #2D68FF;
  --red: #F24D4D;
  --bg: url("../img/loading.gif") 50% no-repeat;
}

body {
  font-family: "Gilroy";
  font-weight: 600;
  color: var(--black);
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  max-width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1262px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
}

.title-h1 {
  font-size: 3.75rem;
  font-weight: 600;
}

.title-h2 {
  font-size: 3.25rem;
  font-weight: 600;
}

.title-h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

.btn_white {
  border-radius: 32px;
  border: 3px solid #000;
  background: #FFF;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--black);
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.btn_green {
  border-radius: 16px;
  background: #4CBE57;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.24);
  color: var(--white);
  font-size: 1.5rem;
  padding: 17px;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  border-radius: 12px;
  border: 3px solid #DDD;
  background: #FFF;
  padding: 0 28px;
  position: relative;
}

.input__label {
  color: #A8A8A8;
  font-size: 1rem;
  position: absolute;
  bottom: 100%;
  left: 23px;
  transform: translate(0, 50%);
  background: var(--white);
  padding: 0 5px;
}

.input input {
  background: none;
  border: none;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 17px 0;
  min-width: 50px;
  width: 100%;
}

.input input::-moz-placeholder {
  color: #CCC;
  opacity: 1;
}

.input input::placeholder {
  color: #CCC;
  opacity: 1;
}

.pass {
  border-radius: 12px;
  border: 3px solid #DDD;
  background: #FFF;
  padding: 0 28px;
  position: relative;
  display: flex;
  align-items: center;
}

.pass__label {
  color: #A8A8A8;
  font-size: 1rem;
  position: absolute;
  bottom: 100%;
  left: 23px;
  transform: translate(0, 50%);
  background: var(--white);
  padding: 0 5px;
}

.pass input {
  background: none;
  border: none;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 17px 0;
  width: 50px;
  flex: 1 1 auto;
}

.pass input::-moz-placeholder {
  color: #CCC;
  opacity: 1;
}

.pass input::placeholder {
  color: #CCC;
  opacity: 1;
}

.pass__forgot {
  color: #A8A8A8;
  font-size: 1rem;
  position: absolute;
  bottom: 100%;
  right: 15px;
  transform: translate(0, 50%);
  background: var(--white);
  padding: 0 5px;
}

.pass__switcher {
  width: 32px;
  min-width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pass__switcher.active svg:first-child {
  display: none;
}

.pass__switcher.active svg:last-child {
  display: block;
}

.pass__switcher svg {
  width: 100%;
  height: 100%;
  fill: #D3D3D3;
  transition: all 0.5s ease;
}

.pass__switcher svg:last-child {
  display: none;
}

.switcher {
  color: #A8A8A8;
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  padding-right: 70px;
}

.switcher::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 60px;
  height: 32px;
  border: 3px solid #A8A8A8;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.switcher::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 50%;
  right: 33px;
  transform: translate(0, -50%);
  border-radius: 50%;
  background: #A8A8A8;
  transition: all 0.5s ease;
}

.switcher.active::before {
  border-color: var(--green);
}

.switcher.active::after {
  background: var(--green);
  right: 6px;
}

.switcher.active span {
  color: var(--green);
}

.switcher.active span:nth-child(1) {
  display: block;
}

.switcher.active span:nth-child(2) {
  display: none;
}

.switcher span:nth-child(1) {
  display: none;
}

.switcher input {
  display: none;
}

.alphabet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease;
  z-index: 100;
}

.alphabet.active {
  opacity: 1;
  visibility: visible;
}

.alphabet__wrapper {
  background: #FFF;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.alphabet__title {
  padding: 28px 0;
  text-align: center;
  background: var(--green);
}

.alphabet__body {
  padding: 56px 0;
  height: 100%;
  overflow-y: auto;
}

.alphabet__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.alphabet__btn {
  flex: 0 1 44px;
  border-radius: 8px;
  border: 1px solid #DDD;
  font-size: 1.5rem;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  transition: all 0.5s ease;
}

.alphabet__close {
  width: 64px;
  height: 64px;
  border: 3px solid #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -80px;
  right: 30px;
  transition: all 0.5s ease;
}

.alphabet__close svg {
  width: 40%;
  height: 40%;
  stroke: #8C8C8C;
  stroke-width: 3px;
  transition: all 0.5s ease;
}

.loader {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader1 .loader__body {
  width: 152px;
  height: 152px;
  position: relative;
}

.loader1 svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader1 svg:nth-child(1) {
  width: 64px;
  height: 64px;
  animation: rotate360 1s linear infinite;
}

.loader1 svg:nth-child(2) {
  width: 96px;
  height: 96px;
  animation: rotate360 2s linear infinite;
}

.loader1 svg:nth-child(3) {
  width: 128px;
  height: 128px;
  animation: rotate360 3s linear infinite;
}

.loader1 .circle1 {
  stroke: #4CBE57;
  fill: none;
  stroke-width: 8px;
  stroke-dashoffset: 0;
  stroke-dasharray: 50, 100;
}

.loader1 .circle2 {
  stroke: #0E6917;
  fill: none;
  stroke-width: 8px;
  stroke-dashoffset: 0;
  stroke-dasharray: 140, 138;
}

.loader1 .circle3 {
  stroke: #4CBE57;
  fill: none;
  stroke-width: 8px;
  stroke-dashoffset: 0;
  stroke-dasharray: 200, 200;
}

.loader1 span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 1px solid #000;
  transform: translate(-50%, -50%) rotate(0);
}

.loader1 span svg {
  width: 100%;
  height: 100%;
}

.loader2 span {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
}

.loader2 span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--green);
  animation: pulse 2s linear infinite;
}

.loader2 span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--green);
  opacity: 0.5;
  animation: wave 2s linear 0.1s infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  5% {
    transform: translate(-50%, -50%) scale(0.9);
  }

  20% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }

  70% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }

  80% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }

  90% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
}

@keyframes rotate360 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.tabs {
  position: relative;
}

.tabs__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  padding: 72px 0;
}

.tabs__item {
  flex: 0 1 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  border: 3px solid #DDD;
  background: #FFF;
  padding: 15px 10px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.5s ease;
  color: #A8A8A8;
  white-space: nowrap;
}

.tabs__item._active {
  border: 3px solid var(--green);
  color: var(--black);
}

.tabs__item._active svg {
  stroke: var(--green);
}

.tabs__item._active svg.fill {
  stroke: none;
  fill: var(--green);
}

.tabs__item svg {
  stroke: #A8A8A8;
  stroke-width: 2px;
  min-width: 26px;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  transition: all 0.5s ease;
}

.tabs__item svg.fill {
  stroke: none;
  fill: #A8A8A8;
}

.tabs__body {
  position: relative;
  background: #F5F5F5;
  padding: 48px 0 100px;
}

.tabs__block {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  background: var(--white);
  border-radius: 16px;
  background: #FFF;
  padding: 64px;
}

.tabs__block._active {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.8s ease;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
}

.popup.open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.popup.open .popup__content {
  transform: translate(0, 0);
}

.popup__wrapper {
  min-height: var(--app-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.popup__close {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #ddd;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all 0.5s ease;
}

.popup__close svg {
  width: 40%;
  height: 40%;
  stroke: #8C8C8C;
  stroke-width: 3px;
  transition: all 0.5s ease;
}

.popup__content {
  border-radius: 32px;
  background: #FFF;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.16);
  max-width: 1230px;
  width: 100%;
  position: relative;
  transition: all 0.8s ease;
  overflow: hidden;
  display: flex;
}

.popup__image {
  flex: 1 1 50%;
  position: relative;
}

.popup__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup__form {
  flex: 1 1 50%;
  padding: 64px;
}

.popup__title {
  margin-bottom: 40px;
}

.popup__input:not(:last-child) {
  margin-bottom: 32px;
}

.popup__submit {
  width: 100%;
  margin-bottom: 40px;
}

.popup__footer {
  color: #A8A8A8;
  font-size: 1.25rem;
  text-align: center;
}

.popup__link {
  color: var(--green);
  transition: all 0.5s ease;
}

.up {
  width: 64px;
  height: 64px;
  position: fixed;
  z-index: 50;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  border: 3px solid var(--green);
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.up svg {
  width: 50%;
  height: 50%;
  fill: #8C8C8C;
}

.sidebar {
  border-radius: 16px;
  background: #FFF;
  padding: 48px;
  min-width: 352px;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar__link {
  color: #A8A8A8;
  font-size: 1.5rem;
  border-radius: 32px;
  border: 3px solid #DDD;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  transition: all 0.5s ease;
  white-space: nowrap;
}

.sidebar__link.active {
  border: 3px solid var(--green);
  color: var(--black);
}

.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.form__desc {
  color: #8C8C8C;
  font-size: 1.5625rem;
  font-weight: 500;
  margin-bottom: 40px;
}

.form__input:not(:last-of-type) {
  margin-bottom: 32px;
}

.form__submit {
  margin-top: 40px;
}

.section-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.section-form:not(:last-of-type) {
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.section-form:not(:last-of-type)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 8px;
  background: #D9D9D9;
}

.section-form__header {
  font-size: 1.25rem;
  font-weight: 500;
}

.section-form__options {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.section-form__desc {
  font-size: 1.25rem;
  font-weight: 500;
}

.section-form__input {
  display: flex;
  align-items: center;
  border-radius: 16px;
  border: 3px solid #A8A8A8;
  padding: 0 20px;
}

.section-form__input input {
  min-width: 50px;
  width: 100%;
  flex: 1 1 auto;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 10px 0;
  border: none;
}

.section-form__input input::-moz-placeholder {
  opacity: 1;
  color: #CCC;
}

.section-form__input input::placeholder {
  opacity: 1;
  color: #CCC;
}

.section-form__input svg {
  stroke: var(--black);
  stroke-width: 1px;
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin-right: 12px;
}

.section-form__input svg.fill {
  stroke: none;
  fill: var(--black);
}

.user {
  position: relative;
}

.user__btn {
  width: 64px;
  min-width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 4px solid #8C8C8C;
  transition: all 0.5s ease;
}

.user__btn svg {
  width: 60%;
  height: 60%;
  stroke: #8C8C8C;
  stroke-width: 3px;
  transition: all 0.5s ease;
}

.user__body {
  position: absolute;
  min-width: 290px;
  top: 110%;
  right: 0;
  border-radius: 32px;
  background: #FFF;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.16);
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 50px);
}

.user__body.active {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.user__email {
  margin-bottom: 24px;
  color: var(--black);
  transition: all 0.5s ease;
}

.user__menu {
  margin-bottom: 24px;
}

.user__link {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  color: #8C8C8C;
  transition: all 0.5s ease;
}

.user__link:not(:last-child) {
  margin-bottom: 16px;
}

.user__link svg {
  width: 22px;
  height: 22px;
  fill: #8C8C8C;
  margin-right: 10px;
  transition: all 0.5s ease;
}

.user__sign-out {
  border-radius: 40px;
  border: 3px solid #BBB;
  color: var(--black);
  padding: 8px 20px;
  font-size: 1.25rem;
  font-weight: 600;
  transition: all 0.5s ease;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__link {
  color: #A8A8A8;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

.header__link:not(:last-child) {
  margin-right: 40px;
}

.logo {
  width: 180px;
  min-width: 180px;
  height: 64px;
  display: block;
  position: relative;
}

.logo img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.logo span {
  color: var(--black);
  font-size: 2.625rem;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
}

.main {
  position: relative;
  background: url("../img/main/bg.svg") 0 70px/100% auto no-repeat;
}

.main::before {
  content: "";
  position: absolute;
  top: 200px;
  left: 0;
  width: 350px;
  height: 540px;
  filter: blur(100px);
  background: #FFCF23;
  border-radius: 23% 77% 23% 77%/18% 81% 19% 82%;
  opacity: 0.15;
  z-index: -1;
}

.main::after {
  content: "";
  position: absolute;
  top: 50px;
  right: 0;
  width: 350px;
  height: 540px;
  filter: blur(100px);
  background: #4CBE57;
  border-radius: 23% 77% 23% 77%/18% 81% 19% 82%;
  opacity: 0.15;
  z-index: -1;
}

.main__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
}

.main__title {
  margin-bottom: 20px;
  max-width: 767px;
  text-align: center;
}

.main__desc {
  color: #8C8C8C;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 64px;
}

.main__search {
  max-width: 816px;
  width: 100%;
  margin-bottom: 64px;
}

.main__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  margin-bottom: 64px;
}

.main__link {
  border-radius: 16px;
  background: #4CBE57;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 500;
  height: 100%;
  padding: 10px;
  word-break: break-all;
  transition: all 0.5s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-align: center;
  line-height: 2;
}

.main__btn {
  width: 256px;
  height: 64px;
}

.search {
  border-radius: 32px;
  border: 3px solid #DDD;
  background: #FFF;
  display: flex;
  align-items: center;
  padding: 0 19px;
}

.search__input {
  flex: 1 1 auto;
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 14px;
  width: 50px;
}

.search__input::-moz-placeholder {
  opacity: 1;
  color: #A8A8A8;
}

.search__input::placeholder {
  opacity: 1;
  color: #A8A8A8;
}

.search__btn {
  width: 28px;
  min-width: 28px;
  height: 28px;
}

.search__btn svg {
  width: 100%;
  height: 100%;
  stroke-width: 3px;
  stroke: var(--green);
}

.dns {
  flex: 1 1 auto;
  padding-top: 100px;
}

.dns__main-title {
  line-height: 1.5;
}

.dns__main-title span {
  border-radius: 16px;
  background: #4CBE57;
  color: var(--white);
  padding: 8px 24px;
}

.dns__section:not(:last-child) {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 3px solid #DDD;
}

.dns__title {
  margin-bottom: 20px;
}

.dns__subtitle {
  color: #8C8C8C;
  font-size: 2rem;
  font-weight: 500;
  margin-top: -20px;
  margin-bottom: 20px;
}

.dns__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dns__item {
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease;
  color: var(--black);
  position: relative;
  padding-right: 24px;
}

.dns__item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  -webkit-mask: url("../../img/icons/icons.svg#copy");
          mask: url("../../img/icons/icons.svg#copy");
  background: var(--green);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.dns__item:not(:last-child) {
  margin-bottom: 12px;
}

.dns__status {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 40px;
  line-height: 1.5;
}

.dns__status_ok span {
  color: var(--green);
  border: 3px solid var(--green);
}

.dns__status_error span {
  color: var(--red);
  border: 3px solid var(--red);
}

.dns__status span {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 16px;
  padding: 10px 20px;
}

.dns__desc {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: justify;
}

.dns__desc p:not(:last-child) {
  margin-bottom: 12px;
}

.dns__table {
  overflow-x: auto;
  padding-bottom: 10px;
  scrollbar-width: thin;
  scrollbar-color: var(--green) #fff;
}

.dns__table::-webkit-scrollbar {
  width: 100%;
  height: 3px;
}

.dns__table::-webkit-scrollbar-thumb {
  background: var(--green);
}

.dns__table:not(:last-child) {
  margin-bottom: 64px;
}

.dns table {
  width: 100%;
  border-spacing: 0;
}

.dns tr:first-child td:first-child {
  border-radius: 16px 0 0 0;
}

.dns tr:first-child td:last-child {
  border-radius: 0 16px 0 0;
}

.dns tr:last-child td:first-child {
  border-radius: 0 0 0 16px;
  border-bottom: 3px solid #DDD;
}

.dns tr:last-child td:last-child {
  border-radius: 0 0 16px 0;
  border-bottom: 3px solid #DDD;
}

.dns td {
  border: 3px solid #DDD;
  padding: 15px 20px;
  border-bottom: none;
  font-size: 1.25rem;
  font-weight: 500;
}

.dns td:first-child {
  width: 200px;
  font-weight: 700;
}

.dns td:last-child {
  border-left: none;
}

.page {
  background: #F5F5F5;
  padding: 72px 0 200px;
}

.page__title_center {
  text-align: center;
}

.page__desc {
  color: #8C8C8C;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 8px;
}

.page__desc_center {
  text-align: center;
}

.page__body {
  margin-top: 64px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.page__content {
  flex: 1 1 auto;
  padding: 32px 0 0 64px;
}

.page__form {
  flex: 1 1 auto;
  max-width: 608px;
  width: 100%;
  border-radius: 16px;
  background: #FFF;
  padding: 40px 48px;
  margin-left: 64px;
}

.article__title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.article__text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 40px;
}

.article__text p:not(:last-child) {
  margin-bottom: 16px;
}

.faq__item {
  border-bottom: 1px solid #DDD;
}

.faq__item:first-child {
  border-top: 1px solid #DDD;
}

.faq__title {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 32px 24px 32px 0;
  cursor: pointer;
}

.faq__title._active::after {
  transform: rotate(0);
}

.faq__title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 24px;
  height: 3px;
  background: #DDDDDD;
  border-radius: 1.5px;
  transition: all 0.5s ease;
}

.faq__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 24px;
  height: 3px;
  background: #DDDDDD;
  border-radius: 1.5px;
  transform: rotate(-90deg);
  transition: all 0.5s ease;
}

.faq__text {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
  padding-bottom: 32px;
}

.footer {
  background: var(--black);
}

.footer__body {
  padding: 72px 0;
}

.footer__main {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.footer__logo {
  margin-right: 90px;
}

.footer__logo span {
  color: var(--white);
}

.footer__link {
  color: #8C8C8C;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.5s ease;
}

.footer__link:not(:last-child) {
  margin-right: 70px;
}

.footer__rights {
  color: #8C8C8C;
  font-size: 1.125rem;
  font-weight: 500;
}

@media (max-width: 1920px) {
  .title-h1 {
    font-size: calc(2rem + 28 * (100vw - 20rem) / 1600);
  }

  .title-h2 {
    font-size: calc(1.75rem + 24 * (100vw - 20rem) / 1600);
  }

  .title-h3 {
    font-size: calc(1.5rem + 16 * (100vw - 20rem) / 1600);
  }

  .btn_white {
    font-size: calc(1rem + 8 * (100vw - 20rem) / 1600);
  }

  .btn_green {
    font-size: calc(1rem + 8 * (100vw - 20rem) / 1600);
  }

  .input {
    padding-inline: calc(16px + 12 * (100vw - 320px) / 1600);
  }

  .input__label {
    font-size: calc(0.875rem + 2 * (100vw - 20rem) / 1600);
    left: calc(11px + 12 * (100vw - 320px) / 1600);
  }

  .input input {
    font-size: calc(1rem + 4 * (100vw - 20rem) / 1600);
    padding-block: calc(13px + 4 * (100vw - 320px) / 1600);
  }

  .pass {
    padding-inline: calc(16px + 12 * (100vw - 320px) / 1600);
  }

  .pass__label {
    font-size: calc(0.875rem + 2 * (100vw - 20rem) / 1600);
    left: calc(11px + 12 * (100vw - 320px) / 1600);
  }

  .pass input {
    font-size: calc(1rem + 4 * (100vw - 20rem) / 1600);
    padding-block: calc(13px + 4 * (100vw - 320px) / 1600);
  }

  .pass__forgot {
    font-size: calc(0.875rem + 2 * (100vw - 20rem) / 1600);
  }

  .pass__switcher {
    width: calc(24px + 8 * (100vw - 320px) / 1600);
    min-width: calc(24px + 8 * (100vw - 320px) / 1600);
    height: calc(24px + 8 * (100vw - 320px) / 1600);
  }

  .switcher {
    font-size: calc(0.875rem + 2 * (100vw - 20rem) / 1600);
    padding-right: calc(52px + 18 * (100vw - 320px) / 1600);
  }

  .switcher::before {
    width: calc(46px + 14 * (100vw - 320px) / 1600);
    height: calc(24px + 8 * (100vw - 320px) / 1600);
    border-width: calc(2px + 1 * (100vw - 320px) / 1600);
  }

  .switcher::after {
    width: calc(18px + 4 * (100vw - 320px) / 1600);
    height: calc(18px + 4 * (100vw - 320px) / 1600);
    right: calc(23px + 10 * (100vw - 320px) / 1600);
  }

  .alphabet__title {
    padding: calc(15px + 13 * (100vw - 320px) / 1600) 0;
  }

  .alphabet__body {
    padding: calc(20px + 36 * (100vw - 320px) / 1600) 0;
  }

  .alphabet__grid {
    gap: calc(15px + 5 * (100vw - 320px) / 1600);
  }

  .alphabet__btn {
    font-size: calc(1rem + 8 * (100vw - 20rem) / 1600);
    width: calc(32px + 12 * (100vw - 320px) / 1600);
    height: calc(32px + 12 * (100vw - 320px) / 1600);
    flex: 0 1 calc(32px + 12 * (100vw - 320px) / 1600);
  }

  .tabs__header {
    padding-block: calc(32px + 40 * (100vw - 320px) / 1600);
    gap: calc(5px + 19 * (100vw - 320px) / 1600);
  }

  .tabs__item {
    font-size: calc(1rem + 8 * (100vw - 20rem) / 1600);
    padding-block: calc(3px + 12 * (100vw - 320px) / 1600);
  }

  .tabs__item svg {
    width: calc(18px + 8 * (100vw - 320px) / 1600);
    height: calc(18px + 8 * (100vw - 320px) / 1600);
  }

  .tabs__body {
    padding-top: calc(32px + 16 * (100vw - 320px) / 1600);
    padding-bottom: calc(50px + 50 * (100vw - 320px) / 1600);
  }

  .tabs__block {
    padding: calc(16px + 48 * (100vw - 320px) / 1600);
  }

  .popup__close {
    width: calc(32px + 32 * (100vw - 320px) / 1600);
    height: calc(32px + 32 * (100vw - 320px) / 1600);
  }

  .popup__form {
    padding: calc(24px + 40 * (100vw - 320px) / 1600);
  }

  .popup__title {
    margin-bottom: calc(24px + 16 * (100vw - 320px) / 1600);
  }

  .popup__input:not(:last-child) {
    margin-bottom: calc(24px + 8 * (100vw - 320px) / 1600);
  }

  .popup__submit {
    margin-bottom: calc(24px + 16 * (100vw - 320px) / 1600);
  }

  .popup__footer {
    font-size: calc(1rem + 4 * (100vw - 20rem) / 1600);
  }

  .up {
    width: calc(32px + 32 * (100vw - 320px) / 1600);
    height: calc(32px + 32 * (100vw - 320px) / 1600);
  }

  .sidebar {
    padding: calc(16px + 32 * (100vw - 320px) / 1600);
    min-width: calc(290px + 62 * (100vw - 320px) / 1600);
  }

  .sidebar__menu {
    gap: calc(10px + 10 * (100vw - 320px) / 1600);
  }

  .sidebar__link {
    font-size: calc(1.125rem + 6 * (100vw - 20rem) / 1600);
    padding: calc(10px + 5 * (100vw - 320px) / 1600);
  }

  .form__title {
    font-size: calc(1.375rem + 10 * (100vw - 20rem) / 1600);
    margin-bottom: calc(8px + 8 * (100vw - 320px) / 1600);
  }

  .form__desc {
    font-size: calc(1.125rem + 7 * (100vw - 20rem) / 1600);
    margin-bottom: calc(24px + 16 * (100vw - 320px) / 1600);
  }

  .form__input:not(:last-of-type) {
    margin-bottom: calc(24px + 8 * (100vw - 320px) / 1600);
  }

  .form__submit {
    margin-top: calc(24px + 16 * (100vw - 320px) / 1600);
  }

  .section-form:not(:last-of-type)::after {
    height: calc(2px + 1 * (100vw - 320px) / 1600);
  }

  .section-form__header {
    font-size: calc(1rem + 4 * (100vw - 20rem) / 1600);
  }

  .section-form__options {
    gap: calc(16px + 14 * (100vw - 320px) / 1600);
  }

  .section-form__desc {
    font-size: calc(0.875rem + 6 * (100vw - 20rem) / 1600);
  }

  .section-form__input {
    padding: 0 calc(12px + 8 * (100vw - 320px) / 1600);
  }

  .section-form__input input {
    font-size: calc(1rem + 4 * (100vw - 20rem) / 1600);
  }

  .section-form__input svg {
    width: calc(18px + 6 * (100vw - 320px) / 1600);
    min-width: calc(18px + 6 * (100vw - 320px) / 1600);
    height: calc(18px + 6 * (100vw - 320px) / 1600);
  }

  .user__btn {
    width: calc(32px + 32 * (100vw - 320px) / 1600);
    min-width: calc(32px + 32 * (100vw - 320px) / 1600);
    height: calc(32px + 32 * (100vw - 320px) / 1600);
    border-width: calc(2px + 2 * (100vw - 320px) / 1600);
  }

  .user__email {
    font-size: calc(0.875rem + 2 * (100vw - 20rem) / 1600);
  }

  .user__link {
    font-size: calc(18px + 2 * (100vw - 320px) / 1600);
  }

  .user__sign-out {
    font-size: calc(1.125rem + 2 * (100vw - 20rem) / 1600);
  }

  .header__body {
    padding: calc(20px + 20 * (100vw - 320px) / 1600) 0;
  }

  .header__link {
    font-size: calc(1rem + 8 * (100vw - 20rem) / 1600);
  }

  .header__link:not(:last-child) {
    margin-right: calc(20px + 20 * (100vw - 320px) / 1600);
  }

  .logo {
    width: calc(90px + 90 * (100vw - 320px) / 1600);
    min-width: calc(90px + 90 * (100vw - 320px) / 1600);
    height: calc(32px + 32 * (100vw - 320px) / 1600);
  }

  .logo span {
    font-size: calc(1.25rem + 22 * (100vw - 20rem) / 1600);
  }

  .main::before {
    width: calc(100px + 250 * (100vw - 320px) / 1600);
    height: calc(150px + 390 * (100vw - 320px) / 1600);
  }

  .main::after {
    width: calc(100px + 250 * (100vw - 320px) / 1600);
    height: calc(150px + 390 * (100vw - 320px) / 1600);
  }

  .main__body {
    padding: calc(40px + 110 * (100vw - 320px) / 1600) 0;
  }

  .main__desc {
    font-size: calc(1.25rem + 12 * (100vw - 20rem) / 1600);
    margin-bottom: calc(32px + 32 * (100vw - 320px) / 1600);
  }

  .main__search {
    margin-bottom: calc(32px + 32 * (100vw - 320px) / 1600);
  }

  .main__list {
    gap: calc(8px + 8 * (100vw - 320px) / 1600);
    margin-bottom: calc(32px + 32 * (100vw - 320px) / 1600);
  }

  .main__link {
    font-size: calc(1rem + 8 * (100vw - 20rem) / 1600);
  }

  .main__btn {
    width: calc(180px + 76 * (100vw - 320px) / 1600);
    height: calc(48px + 16 * (100vw - 320px) / 1600);
  }

  .search__input {
    font-size: calc(1rem + 8 * (100vw - 20rem) / 1600);
    padding: 14px calc(10px + 4 * (100vw - 320px) / 1600);
  }

  .search__btn {
    width: calc(24px + 4 * (100vw - 320px) / 1600);
    min-width: calc(24px + 4 * (100vw - 320px) / 1600);
    height: calc(24px + 4 * (100vw - 320px) / 1600);
  }

  .dns {
    padding-top: calc(50px + 50 * (100vw - 320px) / 1600);
  }

  .dns__subtitle {
    font-size: calc(1.25rem + 12 * (100vw - 20rem) / 1600);
  }

  .dns__item {
    font-size: calc(1rem + 4 * (100vw - 20rem) / 1600);
  }

  .dns__status {
    font-size: calc(1.25rem + 12 * (100vw - 20rem) / 1600);
  }

  .dns__status span {
    font-size: calc(1rem + 4 * (100vw - 20rem) / 1600);
    padding-block: calc(5px + 5 * (100vw - 320px) / 1600);
    padding-inline: calc(10px + 10 * (100vw - 320px) / 1600);
  }

  .dns__desc {
    font-size: calc(1rem + 4 * (100vw - 20rem) / 1600);
  }

  .dns__table:not(:last-child) {
    margin-bottom: calc(32px + 32 * (100vw - 320px) / 1600);
  }

  .dns td {
    font-size: calc(0.875rem + 6 * (100vw - 20rem) / 1600);
    padding-block: calc(5px + 10 * (100vw - 320px) / 1600);
    padding-inline: calc(10px + 10 * (100vw - 320px) / 1600);
  }

  .page {
    padding-top: calc(32px + 40 * (100vw - 320px) / 1600);
    padding-bottom: calc(64px + 136 * (100vw - 320px) / 1600);
  }

  .page__desc {
    font-size: calc(1.25rem + 12 * (100vw - 20rem) / 1600);
  }

  .page__body {
    margin-top: calc(32px + 32 * (100vw - 320px) / 1600);
  }

  .page__content {
    padding-left: calc(32px + 32 * (100vw - 320px) / 1600);
  }

  .page__form {
    padding-block: calc(16px + 24 * (100vw - 320px) / 1600);
    padding-inline: calc(24px + 24 * (100vw - 320px) / 1600);
    margin-left: calc(32px + 32 * (100vw - 320px) / 1600);
  }

  .article__title {
    font-size: calc(1.375rem + 10 * (100vw - 20rem) / 1600);
  }

  .article__text {
    font-size: calc(1rem + 8 * (100vw - 20rem) / 1600);
  }

  .faq__title {
    padding-block: calc(24px + 8 * (100vw - 320px) / 1600);
  }

  .faq__title::before {
    width: calc(16px + 8 * (100vw - 320px) / 1600);
    height: calc(2px + 1 * (100vw - 320px) / 1600);
  }

  .faq__title::after {
    width: calc(16px + 8 * (100vw - 320px) / 1600);
    height: calc(2px + 1 * (100vw - 320px) / 1600);
  }

  .faq__title {
    font-size: calc(1.125rem + 6 * (100vw - 20rem) / 1600);
  }

  .faq__text {
    font-size: calc(1rem + 4 * (100vw - 20rem) / 1600);
    padding-bottom: calc(24px + 8 * (100vw - 320px) / 1600);
  }

  .footer__body {
    padding: calc(30px + 42 * (100vw - 320px) / 1600) 0;
  }

  .footer__main {
    margin-bottom: calc(20px + 30 * (100vw - 320px) / 1600);
  }

  .footer__logo {
    margin-right: calc(40px + 50 * (100vw - 320px) / 1600);
  }

  .footer__link {
    font-size: calc(1rem + 8 * (100vw - 20rem) / 1600);
  }

  .footer__link:not(:last-child) {
    margin-right: calc(20px + 50 * (100vw - 320px) / 1600);
  }

  .footer__rights {
    font-size: calc(0.875rem + 4 * (100vw - 20rem) / 1600);
  }
}

@media (max-width: 1200px) {
  .main__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .main__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .tabs__item {
    flex: 1 1 40%;
  }

  .popup__image {
    display: none;
  }

  .sidebar {
    min-width: unset;
    width: 100%;
  }

  .sidebar__menu {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .sidebar__link {
    flex: 1 1 45%;
  }

  .main__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .page__body {
    flex-direction: column;
    justify-content: stretch;
  }

  .page__content {
    padding-left: 0;
    width: 100%;
  }

  .page__form {
    margin: 32px auto 0;
  }
}

@media (max-width: 576px) {
  .alphabet {
    justify-content: stretch;
    padding-top: 70px;
  }

  .alphabet__close {
    width: 32px;
    height: 32px;
    right: 15px;
    top: -50px;
  }

  .dns td:first-child {
    width: unset;
  }
}

@media (max-width: 480px) {
  .tabs__item {
    flex: 1 1 100%;
  }

  .sidebar__link {
    flex: 1 1 100%;
  }

  .main__list {
    grid-template-columns: 1fr;
  }
}

@media (any-hover: hover) {
  .btn_white:hover {
    background: var(--black);
    color: var(--white);
  }

  .btn_green:hover {
    background: var(--black);
  }

  .pass__forgot:hover {
    text-decoration: underline;
  }

  .pass__switcher:hover svg {
    fill: var(--green);
  }

  .alphabet__btn:hover {
    background: var(--black);
    color: var(--white);
  }

  .alphabet__close:hover {
    border: 3px solid var(--green);
  }

  .alphabet__close:hover svg {
    stroke: var(--green);
  }

  .popup__close:hover {
    border: 3px solid var(--green);
  }

  .popup__close:hover svg {
    stroke: var(--green);
  }

  .popup__link:hover {
    color: var(--black);
  }

  .up:hover {
    box-shadow: 0 0 20px rgba(76, 190, 87, 0.5);
  }

  .sidebar__link:hover {
    color: var(--white);
    background: var(--black);
    border: 3px solid var(--black);
  }

  .user__btn:hover {
    border-color: var(--green);
  }

  .user__btn:hover svg {
    stroke: var(--green);
  }

  .user__email:hover {
    color: var(--green);
  }

  .user__link:hover {
    color: var(--green);
  }

  .user__link:hover svg {
    fill: var(--green);
  }

  .user__sign-out:hover {
    border: 3px solid var(--black);
    background: var(--black);
    color: var(--white);
  }

  .header__link:hover {
    color: var(--black);
  }

  .main__link:hover {
    background: var(--black);
  }

  .dns__item:hover {
    color: var(--green);
  }

  .dns__item:hover::after {
    opacity: 1;
    visibility: visible;
  }

  .faq__title:hover::before,
  .faq__title:hover::after {
    background: #8C8C8C;
  }

  .footer__link:hover {
    color: var(--white);
  }
}